/*サイト共通CSS*/

* {
    padding: 0;
    margin: 0;
}

section{
    overflow: hidden;
  }
  
body{
    background-image: url(images/backround.jpeg);
    width: 100%;
}


hr{
    width: 1100px;
    height: 0.5px;
    margin: 60px auto 60px auto;
}
@media(max-width:450px){
    hr{
        width: 80vw;
    }
}


h2{
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    letter-spacing: 0.05em;
    line-height: 0.95em;
}

@media(max-width:450px){
    h2{
        font-size: 32px; 
    }
}

p{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.section-box{
    background-color: #F3EDE1;
    margin:50px;
    padding: 50px;
    border: 1px solid;
}
@media(max-width:450px){
    .section-box{
        margin: 20px;
        padding: 20px;
    }
}


.modal a{
    background-color: #2E4056;
    color: #ffffff;
    margin: 20px;
    padding: 10px 30px;
    display: block;
    width: 80px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
}

.modal-box{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

h3{
    font-family: 'DM Serif Display', serif;
    font-weight: black;
    font-size: 40px; 
    letter-spacing: 0.05em;
    line-height: 0.95em;
    margin: 20px;
}

@media(max-width:450px){
    text-align: center;
}

.detail{
    background-color: #F3EDE1;
    padding: 0 20px;
    border: 1px solid;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.detail-text{
    width: 500px;
    float: left;
    justify-content: center;
    align-self: center;
}

.detail-text p{
    margin: 20px;
}

.detail img{
    width: 350px;
    margin: 20px;
}

@media(max-width:450px){
    h3{
        font-size: 32px;
    }
    .detail-text{
        width: 80vw;
    }
    .detail-text p{
        padding: 0;
        font-size: 12px;
    }
    .detail img{
        width: 65vw;
        margin: 0 auto 20;
    }
}

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
  }
  
  @-webkit-keyframes fuwatAnime {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  
  @keyframes fuwatAnime {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }


  .modaal-content-container{
      padding: 0;
  }



/*firstview*/

.nav{
    text-align: center;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: lighter;
}

.button a{
    background-color: #2E4056;
    color: #ffffff;
    margin: 20px;
    padding: 10px 30px;
    display: block;
    width: 400px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:450px){
    .button a{
        width: 50vw;
    }
}

a:hover{
    box-shadow: 5px 2px 5px 0.1em #000;
}

a:visited{
    text-decoration: none;
    color: #ffffff;
}

.more-button{
    background-color: #2E4056;
    color: #ffffff;
    margin: 20px 20px 20px 20px;
    padding: 5px 15px;
    display: block;
    width: 100px;
    text-decoration: none;   
    margin-left: auto;
    margin-right: auto; 
    font-family: 'M PLUS 1', sans-serif;
    font-weight: lighter;
}

.open-box{
    display: none;
}

.firstview-title{
    text-align: center;
    align-items: center;
}

.title h1{
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    letter-spacing: 0.05em;
    margin-top: 50px;
}

.title p{
    font-size: 24px;
}

.title hr{
    width: 800px;
    margin-bottom: 20px;
}

.more-button p{
    font-size: 15px;
}

.firstview-title img{
    margin-bottom: -40px;
}

@media(max-width:450px){
    .title h1{
        font-size: 56px;
        margin: 50px 20px 0 20px;
    }
    .title p{
        font-size: 20px;
    }
    .title hr{
        width: 80vw;
    }
    .firstview-title img{
        width: 90vw;
    }
}


/*about*/

#about{
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.about-box{
    display: flex;
    margin: auto; 
    width: 800px;
}

.about-box img{
    float: left;
    margin-right: 60px;
    width: 300px;
}

.about-text{
    align-self: center;
}

@media(max-width:450px){
    #about{
        width: 100vw;

    }
    .about-box{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-box img{
        margin: 0 auto;
        width: 60vw;
        float: none;
    }
    .about-text{
        width: 85vw;
        margin: 20px;
        align-items: center;
    }
    .about-text h2{
        text-align: center;
        padding-bottom: px;
    }
}



/*mediterranean harbor*/

.mh-box{
    margin: 30px 100px 50px 150px;
}

.mh-text{
    width: 450px;
    margin: 30px 30px 0 0;
    float: left;
}

.mh-box img{
    width: 500px;
}

@media(max-width:450px){
    .mh-box{
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mh-box h2{
        margin-bottom: 15px;
    }
    .mh-text{
        float: none;
        width: 80vw;
        margin: 0;
    }
    .mh-box img{
        width: 80vw;
        margin: 0 auto;
    }
}



/*american waterfront*/

.aw-box{
    margin: auto;
    width: 800px;
    text-align: center;
}

.aw-box p{
    margin: 30px 0;
}

.aw-box img{
    width: 500px;
}

@media(max-width:450px){
    .aw-box{
        margin: 0;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .aw-box img{
        width: 80vw;
    }
}



/*port discovery*/

.pd-box{
    align-items: center;
    justify-content: center;
    display: flex; 
}

.pd-box img{
    width: 450px;
    float: left;
}

.pd-text{
    width: 620px;
}

.pd-text p{
    margin-top: 20px;
}



@media(max-width:450px){
    .pd-box{
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pd-box img{
        width: 80vw;
        float: none;
    }
    .pd-text{
        width: 80vw;
    }
    .pd-text h2{
        margin: 20px 0 auto;
    }
}



/*lost river delta*/

.lrd-box{
    margin: 0 auto;
    width: 800px;
}

.lrd-box h2{
    line-height: 1.3em;
    float: left;
}

@media(max-width:450px){
    .lrd-box{
        margin: 0;
        width: 80vw;
        align-items: center;
    }
    .lrd-box img{
        width: 50vw;
    }
}



/*arabian coast*/

.ac-box{
    margin: auto;
    width: 600px;
    text-align: center;
}

.ac-box h2{
    letter-spacing: 0.05em;
}

.ac-box p{
    margin: 30px 0;
}

.ac-box img{
    width: 600px;
}

@media(max-width:450px){
    .ac-box{
        width: 80vw;
    }
    .ac-box h2{
        margin: 0 auto;
        padding-top: 20px;
    }
    .ac-box img{
        width: 80vw;
    }
}



/*marmaid lagoon*/

.ml-box{
    margin: 0 80px;
    text-align: left;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

.ml-box img {
    width: 600px;
}

.ml-img{
    display: flex; 
}

.ml-img p{
    margin: 10px 0;
}

.ml-title{
    width: 380px;
    align-self: center;
    padding-top: 50px;
    margin-left: 20px;
}

.ml-title h2{
    text-align: center;
    letter-spacing: 0.1em;
}

.ml-box p{
    margin-top: 15px;
}


@media(max-width:450px){
    .ml-box{
        justify-content: center;
        margin: 0;
        width: 80vw;
        display: block!important;
    }
    .ml-img{
        display: block;
        margin: 0;
        padding: 0;
    }
    .ml-box img{
        width: 80vw;
    }
    .ml-title{
        width: 80vw;
        margin: 0;
        padding: 0;
    }
}


/*mysterious island*/

.mi-box{
    margin: 0 auto; 
}

.mi-box h2{
    text-align: center;
    margin-bottom: 15px;
}

.mi-text{
    width: 450px;
    margin: 20px 30px 0 0;
    float: left;
}

.mi-img{
    display: flex; 
    margin: 0 auto;
    justify-content: center;
}

.mi-img img{
    height: 300px;
}

@media(max-width:450px){
    .mi-box{
        justify-content: center;
        width: 80vw;
    }
    .mi-text{
        width: 80vw;
    }
    .mi-img{
        display: block; 
    }
    .mi-img img{
        height: 20vh;
    }
    /*
    .ml-box{
        display: block; 
    }
    .mi-text{
        width: 80vw;
        margin: 0;
        float: none;
    }
    .ml-img{
        width: 60vw;
    }
    .ml-img img{
        width: 70vw;
    }
    */
}



/*message*/

#message{
    text-align: center;
    padding: 50px 0 80px 0;
}

#message p{
    width: 700px;
    margin: 0 auto;
    padding: 40px 0; 
}

#message a{
    background-color: #2E4056;
    color: #ffffff;
    margin: 20px;
    padding: 10px 30px;
    display: block;
    width: 150px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
}

@media(max-width:450px){
    #message p{
        width: 80vw;
    }
}


/*footer*/
footer{
    text-align: center;
    margin: 30px 0;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: lighter;
}